body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0DB614;
    width: 100vw;
    height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.btn-cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B2F4B5;
    border: none;
    border-radius: 31px;
    padding: 10px;
    width: 140px;
    height: 40px;
}

.btn-entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26c035;
    border: none;
    border-radius: 31px;
    padding: 10px;
    width: 140px;
    height: 40px;
}